@import "../../common/pallete.scss";

.nav {
  width: 100%;
  height: 40px;
  background-color: $white;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  font-family: 'Oxygen', sans-serif;
}