@import "../../common/pallete.scss";

.searchBar {
  width: 300px;
  height: 30px;

  &__input, &__button {
    border: 1px solid $white;
  }

  &__input {
    width: 200px;
    height: inherit;
    padding-left: 6px;
  }

  &__button {
    width: 100px;
    height: inherit;
    background-color: $g1;
    transition: .7s ease;
    cursor: pointer;
    &:hover {
      background-color: $g2;
    }
  }
}
